* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/* regola che si usa quando ho elementi float */
.clearfix::after {
	content: '';
	display: table;
	clear: both;
}

/* tutti i float left */
.float-left {
	float: left;
}

/* contenitore */
.container {
	width: 100%;
	height: 100vh;
	/* background-color: yellow; */
	padding: 20px 80px;
}

/* intestazione */
header {
	height: 30%;
	background-color: blue;
}

/* parte centrale */
main {
	height: 100%;
	margin: 10px 0;
}

main .col-left, .col-right{
	width: 20%;
	height: 60%;
	background-color: pink;
}

main .corpo-principale {
	width: calc(60% - 40px);
	height: 50%;
	background-color: lightgreen;
	margin: 0 20px;
}


main .col-right .widget {
	width: 100%;
	height: 100%;
	background-color: pink;
	margin-bottom: 20px;
}
